<header>
    <script src="https://kit.fontawesome.com/0108f82120.js" crossorigin="anonymous"></script>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Welcome to Cloud DevOps Ltd.</h1>
            <hr>
            <p>Are you prepared to grow your company in the digital age? There's no need to look elsewhere. At Cloud DevOps Ltd., we specialize in Cloud-powered DevOps solutions that promote efficiency and innovation.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
